@import url(normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

:root {
  /* Colors */

  /* Primary */

  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);

  /* Neutral */

  /* (paragraphs) */
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  /* (background, headings, buttons) */
  --very-light-gray: hsl(0, 0%, 95%);

  /* Fonts */
  --big-shoulders: "Big Shoulders Display", cursive;
  --lexen: "Lexend Deca", sans-serif;

  /* weights */
  --w-regular: 400;
  --w-bold: 700;

  /* Sizes*/
  --s-8: 0.5rem;
  --s-16: 1rem;
  --s-24: 1.5rem;
  --s-32: 2rem;
  --s-40: 2.5rem;
  --s-48: 3rem;
  --s-64: 4rem;
  --s-80: 5rem;
}

main {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: var(--very-light-gray);
}

img {
  margin-bottom: 40px;
}

h1 {
  color: var(--very-light-gray);
  font-family: var(--big-shoulders);
  font-weight: var(--w-bold);
  text-transform: uppercase;
  font-size: var(--s-48);
  margin: 0 0 48px 0;
}

p {
  color: var(--transparent-white);
  font-family: var(--lexen);
  font-weight: var(--w-regular);
  font-size: 15px;
  margin: 0 0 84px 0;
}

button {
  width: 144px;
  height: 46px;
  font-family: var(--lexen);
  border-radius: var(--s-48);
  background-color: var(--very-light-gray);
  border: solid 2px var(--very-light-gray);
}

.content {
  display: flex;
  width: 918px;
  height: 500px;
  border-radius: var(--s-8);
}
.content > div {
  box-sizing: border-box;
  padding: var(--s-48);
}

.sedans {
  background-color: var(--bright-orange);
  border-radius: var(--s-8) 0 0 var(--s-8);
}

.sedans > button {
  color: var(--bright-orange);
}

.sedans > button:hover {
  color: var(--very-light-gray);
  background-color: var(--bright-orange);
}

.suvs {
  background-color: var(--dark-cyan);
}

.suvs > button {
  color: var(--dark-cyan);
}

.suvs > button:hover {
  color: var(--very-light-gray);
  background-color: var(--dark-cyan);
}

.suvs > button:hover {
  color: --very-light-gray;
}

.luxury {
  background-color: var(--very-dark-cyan);
  border-radius: 0 var(--s-8) var(--s-8) 0;
}

.luxury > button {
  color: var(--very-dark-cyan);
}

.luxury > button:hover {
  color: var(--very-light-gray);
  background-color: var(--very-dark-cyan);
}

.attribution {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: var(--s-16);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 900px) {
  body {
    margin-bottom: 0;
  }

  .attribution {
    position: relative;
  }

  .content {
    flex-direction: column;
    width: 320px;
  }

  .sedans {
    border-radius: var(--s-8) var(--s-8) 0 0;
  }

  .luxury {
    border-radius: 0 0 var(--s-8) var(--s-8);
  }
}
